footer {
    height: 150px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #2ECC71;
}

footer p {
    font-size: 1.2em;
}

footer span {
    color: #2ECC71;
    font-weight: bold;
}