.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.container h2 {
    font-size: 2em;
    margin-bottom: .5em;
}

.container p {
    text-align: center;
    width: 55vw;
    font-size: 1.3em;
}