<div *ngIf="task" class="container">
    <h2 class="title">{{task.title}}</h2>

    <p class="description">
        Descrição: {{task.description}}
    </p>

    <div class="date">
        <p>
            Prazo: <i>{{formatDate(task.delivery_date)}}</i>
        </p>
        <p>
            Criada em: <i>{{formatDate(task.creation_date)}}</i>
        </p>
        <p *ngIf="task.edition_date">
            Editada em: <i>
                {{formatDate(task.edition_date)}}
            </i>
        </p>
        <p *ngIf="task.conclude_date">
            Concluída em: <i>
                {{formatDate(task.conclude_date)}}
            </i>
        </p>
        
    </div>

    <div class="actions">
        
        <div class="action">
            <a routerLink="/tasks/edit/{{task.id}}">
                <i class="bi bi-pen"></i>
            </a>
        </div>
        <div class="action">

            <!-- excluir -->
            <i (click)="task.id ? removeTask(task.id) : alertar('id nao inserido')" class="bi bi-trash3"></i>
        </div>
        <div class="action">
            <div *ngIf="!task.conclude_date; else not_conclude" class="conclude">
                <i class="bi bi-app" (click)="completeTask()"></i>
            </div>
            <ng-template #not_conclude class="conclude">
                <i class="bi bi-check2-square"></i>
            </ng-template>
        </div>

        
    </div>

</div>

